USE [BookManagementDB]
GO
/****** Object:  Table [dbo].[TBOOKCATEGORY]    Script Date: 17-08-2024 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOOKCATEGORY](
	[CategoryId] [int] IDENTITY(101,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Discription] [varchar](1000) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TBOOKCATEGORY] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
